@charset "UTF-8";
	p, h2,h3{
		color:rgb(58, 55, 233);
	}
h1 {
    color :aliceblue;
}
body {
    
    background-image: url("fundo3.png"); 
    background-repeat: repeat-y;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    font-size: 25px;text-align: center;

}

h1 {
    background-image: url(botao1.png);
    text-align: center;
    color: aliceblue;
}

h3 {
    color:burlywood;
    background-image: url(botao2.png);
    text-align: center;

}


p {
    text-align: center;}